{% load compress %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>MicroFinance</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.min.css" />
    <link href='http://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/themes/start/jquery-ui.css" />
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
    <!-- your style sheet-->
    {% compress css %}
      <link type="text/css" rel="stylesheet" href="/static/css/mf.css" />
      <link type="text/css" rel="stylesheet" href="/static/css/mf_res.css" />
      <link type="text/css" rel="stylesheet" href="/static/css/mf_mob.css" />
    {% endcompress %}
    <!--your style sheet-->
  </head>
  <body>
    <!--wrapper starts below-->
    <div class="wrapper">
      <!--container starts  below-->
      <div class="container">
        <!--slide-menu-->
        <div class="menu-outer">
          <div class="menu-icon">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
          </div>
        </div>
        <a class="menu-close" onClick="return true">
          <div class="menu-icon">
            <div class="bar"></div>
            <div class="bar"></div>
          </div>
        </a>
        <!--slide menu ends above-->
      </div>
      <!--container ends above-->
      <!--nav bar starts below-->
      <header>
        <div class="container">
          <!--nav bar-->
          <div class="menuu">
            <div class="bs-example box-menu">
              <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                  <!-- Brand and toggle get grouped for better mobile display -->
                  <div class="navbar-header" id="nav-md">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <span class="logo-span">
                      <a class="navbar-brand logo_nav" href="/">
                        <h5>Micro Finance</h5>
                      </a>
                    </span>
                  </div>
                  <!-- Collect the nav links, forms, and other content for toggling -->
                  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="col-lg-10 col-sm-12 col-md-12 nav navbar-nav navbar-right">
                      <li><a href="{% url 'micro_admin:login' %}" class="menu-link home"><i class="fa fa-home padd"></i>Home</a></li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-sitemap padd"></i>Branch
                        <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="{% url 'micro_admin:createbranch' %}"><i class="fa fa-plus padd"></i>Create Branch</a></li>
                          <li><a href="{% url 'micro_admin:viewbranch' %}"><i class="fa fa-eye padd"></i>View Branch</a>
                          </li>
                        </ul>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user padd"></i>Staff
                        <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="{% url 'micro_admin:createuser' %}"><i class="fa fa-plus padd"></i>Create Staff</a>
                          </li>
                          <li><a href="{% url 'micro_admin:userslist' %}"><i class="fa fa-eye padd"></i>View Staff</a></li>
                        </ul>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-users users-icon padd"></i>Group <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="{% url 'micro_admin:creategroup' %}"><i class="fa fa-plus padd"></i>Create Group</a></li>
                          <li><a href="{% url 'micro_admin:groupslist' %}"><i class="fa fa-eye padd"></i>View Group</a>
                          </li>
                        </ul>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-child mem-icon padd"></i>Member <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="{% url 'micro_admin:createclient' %}"><i class="fa fa-plus padd"></i>Create Member</a></li>
                          <li><a href="{% url 'micro_admin:viewclient' %}"><i class="fa fa-eye padd"></i>View Member</a>
                          </li>
                        </ul>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-calculator padd"></i>Accounting <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="{% url 'micro_admin:receiptslist' %}"><i class="fa fa-file-text-o padd"></i>Receipts</a></li>
                          <li><a href="{% url 'micro_admin:paymentslist' %}"><i class="fa fa-money padd"></i>Payments</a></li>
                        </ul>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-money padd"></i>Deposits<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="{% url 'micro_admin:viewclientfixeddeposits' %}"><i class="fa fa-eye padd"></i>View Fixed Deposits</a></li>
                          <li><a href="{% url 'micro_admin:viewclientrecurringdeposits' %}"><i class="fa fa-eye padd"></i>View Recurring Deposits </a></li>
                        </ul>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-file-text-o padd"></i>Reports <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="{% url 'micro_admin:generalledger' %}"><i class="fa fa-calculator padd"></i>General Ledger</a></li>
                          <li><a href="{% url 'micro_admin:viewdaybook' %}"><i class="fa fa-book padd"></i>Day Book</a></li>
                        </ul>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user icon padd"></i>{{ request.user.username|capfirst }} <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="{% url 'micro_admin:userprofile' request.user.id %}"><i class="fa fa-user icon padd"></i>Profile</a></li>
                          <li><a href="{% url 'micro_admin:userchangepassword'%}">
                            <i class="fa fa-unlock-alt padd"></i>Change Password</a>
                          </li>
                          <li><a href="{% url 'micro_admin:logout' %}"><i class="fa fa-power-off icon padd"></i>Logout</a></li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                  <!-- /.navbar-collapse -->
                </div>
                <!-- /.container-fluid -->
              </nav>
            </div>
          </div>
          <!--nav bar ends-->
        </div>
        <!--nav bar ends above-->
      </header>
      {% block basebreadcrumb %}
      <div class="row marl bread-row">
        <div class="breadcrumbcontainer">
          <ol class="breadcrumb">
            <span>You are Here:</span> &nbsp;&nbsp;
            <li><a href="{% url 'micro_admin:login' %}">Home</a></li>
            {% block breadcrumb %}
            {% endblock %}
          </ol>
        </div>
      </div>
      {% endblock basebreadcrumb %}
      <!--content goes below-->
      {% block stage %}
      {% endblock %}
      <!--content ends above-->
    </div>
    <!--wrapper ends above-->
    {% compress js %}
      <script src="/static/js/mf_script.js"></script>
    {% endcompress %}
  </body>
</html>
