<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>MicroFinance</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.min.css" />
    <link href='http://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/themes/start/jquery-ui.css" />
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
    <!-- your style sheet-->
    <link rel="stylesheet" href="/static/css/mf.css" />
    <link rel="stylesheet" href="/static/css/mf_res.css" />
    <link rel="stylesheet" href="/static/css/mf_mob.css" />
    <!--your style sheet-->
  </head>
  <body class="bkrd">
    <!--wrapper starts below-->
    <div class="wrapper">
      <!--container starts  below-->
      <div class="container">
        <!--form div-->
        <div class="form-div">
          <h4>Micro Finance</h4>
          <span><em>Hope for better tomorrow</em></span>
          <h5>Login to your account</h5>
          <form id="loginform" role="form" method="POST">
            {% csrf_token %}
            <input type="text" class="text-box" name="username" placeholder="User Name" />
            <input type="password" class="text-box" name="password" placeholder="Password" />
            <div id="error"></div>
            <button type="submit" class="login-btn">Login</button>
          </form>
        </div>
        <!--form div ends above-->
      </div>
      <!--container ends above-->
    </div>
    <!--wrapper ends above-->
    <script src="/static/js/mf_script.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
      $('.login-btn').click(function(e) {
        e.preventDefault();
        $.post('/login/', $('#loginform').serialize(), function(data) {
          if (data.error){
            $("p.error").remove();
            $("#error").prepend("<p class='error'>"+data.errors+"</p>");
          }
          else{
            window.location = '/login/' ;
          }
        },"json");
      });
      });
    </script>
  </body>
</html>