{% extends 'base.html' %}
{% block breadcrumb %}
<li>Create Staff</li>
{% endblock %}
{% block stage %}
<!--content goes below-->
<div class="container">
  <!--form div starts below-->
  <div class="panel panel-default my-panel-2 margin-top-set">
    <div class="panel-heading"><i class="fa fa-plus padd"></i>Create Staff</div>
    <div class="panel-body pb-pad">
      <form id="createuserform" class="form-horizontal" role="form" method="post">
        {% csrf_token %}
        <!--div 1 0f form-->
        <div class="box-form">
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-4 control-label">First Name <span>*</span></label>
            <div class="col-sm-8">
              <input type="text" class="text-box wid-form" id="first_name" name="first_name">
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-4 control-label">Last Name</label>
            <div class="col-sm-8">
              <input type="text" class="text-box wid-form" id="last_name" name="last_name">
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-4 control-label">Gender <span>*</span></label>
            <div class="col-sm-8 mar-top-rad">
              <input type="radio" name="gender" value="M">Male &nbsp;&nbsp;
              <input type="radio" name="gender" value="F">Female
              <span id="gender"></span>
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-4 control-label">Branch <span>*</span></label>
            <div class="col-sm-8">
              <select class="text-box wid-form select-box-pad" name="branch" id="branch">
                <option>Select Branch</option>
                {% for branch in branches %}
                <option value="{{ branch.id }}">{{ branch.name }}</option>
                {% endfor%}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-4 control-label">User Roles <span>*</span></label>
            <div class="col-sm-8">
              <select class="text-box wid-form select-box-pad" name="user_roles" id="user_roles">
                <option>Select Staff Role</option>
                {% for role in userroles %}
                <option value="{{ role }}">{{ role }}</option>
                {% endfor%}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-4 control-label">Date of Birth</label>
            <div class="col-sm-8">
              <input type="text" class="text-box wid-form" id="datepicker-dob" name="date_of_birth">
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-4 control-label">Email <span>*</span></label>
            <div class="col-sm-8">
              <input type="text" class="text-box wid-form" id="email" name="email">
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-4 control-label">Mobile</label>
            <div class="col-sm-8">
              <input type="text" class="text-box wid-form" id="mobile" name="mobile">
            </div>
          </div>
        </div>
        <!--div 1 of fomr ends above-->
        <!--div 2 of form starts below-->
        <div class="box-form">
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-4 control-label">Country</label>
            <div class="col-sm-8">
              <input type="text" class="text-box wid-form" id="country" name="country">
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-4 control-label">State</label>
            <div class="col-sm-8">
              <input type="text" class="text-box wid-form" id="state" name="state">
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-4 control-label">District</label>
            <div class="col-sm-8">
              <input type="text" class="text-box wid-form" id="district" name="district">
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-4 control-label">City</label>
            <div class="col-sm-8">
              <input type="text" class="text-box wid-form" id="city" name="city">
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-4 control-label">Area</label>
            <div class="col-sm-8">
              <input type="text" class="text-box wid-form" id="area" name="area">
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-4 control-label">Pin-Code</label>
            <div class="col-sm-8">
              <input type="text" class="text-box wid-form" id="pincode" name="pincode">
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-4 control-label">User Name <span>*</span></label>
            <div class="col-sm-8">
              <input type="text" class="text-box wid-form" id="username" name="username">
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-4 control-label">Password <span>*</span></label>
            <div class="col-sm-8">
              <input type="password" class="text-box wid-form" id="password" name="password">
            </div>
          </div>
        </div>
        <!--branch 2 ends above-->
        <!--btn row-->
        <br clear="all" />
        <div class="btns-row" style="margin-top: -10px;">
          <div class="form-group btns align-btns">
            <button class="submit-btn" type="submit"><i class="fa fa-check padd"></i>Submit</button>
            <button class="cancel-btn" type="reset"><i class="fa fa-times padd"></i>Cancel</button>
          </div>
        </div>
        <!--btn row ends above-->
      </form>
    </div>
  </div>
  <!--form div ends above-->
</div>
<!--content ends above-->
<script type="text/javascript">
  $(document).ready(function() {
    $('#createuserform').submit(function(e) {
      e.preventDefault();
      $("span.error").remove();
      $.post('.', $('#createuserform').serialize(), function(data) {
        if (data.error) {
          $("span.error").remove();
          $.each(data.errors, function( key, value ) {
            if (key == 'date_of_birth'){
              $('#datepicker-dob').after("<span class='error' style='height:11px;color:red;'> * " + value + "</span>");
            }else{
              $('#'+key).after("<span class='error' style='height:11px;color:red;'> * " + value + "</span>");
            }
          });
        }
        else {
          window.location = data.success_url;
        }
      }, "json");
    });
    $('.cancel-btn').click(function(e){
      $("span.error").remove();
    });
  });
</script>
{% endblock %}